.split{
    margin: 10px;
    display: flex;
}


/*gutter è la liena centrale*/
.gutter{
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
    background-color: #969191;
}
.gutter{
    cursor: col-resize;
}