.sidebar{
    border: 1px solid rgb(0,0,0,0.3);
    margin-right:2px ;
}
.sidebar-header{
    padding: 10px 0;
}
.sidebar-header span, .sidebar-header button{
    font-size: 30px;
    font-weight: 800;
}
.sidebar-header span{
    margin-left: 20px;
}
.sidebar-header button{
    border: 1px solid;
    border-radius:10px ;
    float: right;
    margin-right: 20px;
    cursor: pointer;
}
.sidebar h3 {
    text-align: center;
    margin: 0 ;
    padding:20px 0 ;   
    cursor: pointer;
}
.sidebar-header{
    
}

.sidebar h3[data-selected="selected"]{
    background-color: blue;
}